/* 외부스타일시트(HTML 공유가능) */
#wrap {
    background-color: #fff;
    width:440px; height:100vh;
    padding:179px 15px 0;
    /* w값 설정된 바깥쪽 레이아웃 요소 가운데배치 */
    margin:0 auto;
} /* 4 */
body {background-color: #222;}
#wrap h1 {
    font-weight:900;
    font-size:2rem;/* 32px */
    margin:0 0 30px;
}
#wrap h1+p {margin:0 0 30px;}
#wrap #login_frm{}
/* 아이디, 비번 7 */
#wrap #login_frm .id_pw_group {margin:0 0 40px;}
#wrap #login_frm .id_pw_group dl {}
#wrap #login_frm .id_pw_group dl dt {
    font-size:1.25rem; font-weight:700;
    margin:0 0 20px;
}
#wrap #login_frm .id_pw_group dl dd {}
#wrap #login_frm .id_pw_group dl dd:nth-child(2) {margin:0 0 40px;}
#wrap #login_frm .id_pw_group dl dd .id_pw{
    /* 입력데이터 글자 디자인정보 */
    font-size:0.875rem; /* 14px */
    border:1px solid #aaa; 
    padding:15px;
    display:block; width:100%;
    border-radius:10px;
}/* 공통 */
#wrap #login_frm .id_pw_group dl dd .id_pw::placeholder {color:#aaa}/* 공통 안내문(placeholder) */
#wrap #login_frm .id_pw_group dl dd #user_email_id{}/* 개별 */
#wrap #login_frm .id_pw_group dl dd #user_pw{}/* 개별 */
#wrap #login_frm .id_pw_group .error {
    color:#f00; font-size:0.875rem; font-weight:600;
    margin-top:40px;
    /* 초반 숨기기 */
    display:none;
}
/* 버튼, 가입 9 */
#wrap #login_frm .btn_search_group {}
#wrap #login_frm .btn_search_group h2 {
    font-size:1.25rem; font-weight:700;
    margin:0 0 20px;
}
#wrap #login_frm .btn_search_group h2+p {margin:0 0 20px;}
#wrap #login_frm .btn_search_group p:nth-child(4){margin:0 0 30px;}
#wrap #login_frm .btn_search_group p {}
#wrap #login_frm .btn_search_group p .btn {
    font-weight: 700;
    /* display:inline-block */
    display:block; width:100%;
    padding:15px 0; /* 상하(15) 좌우(0) */
    border-radius:10px;
}/* a와 버튼 공통 */
#wrap #login_frm .btn_search_group p #login_btn {
    background-color:#000; color:#fff;
}/* 로그인 */
#wrap #login_frm .btn_search_group p #sign_google {
    border:1px solid #aaa;
    text-align: center;
}/* 구글 */
#wrap #login_frm .btn_search_group p.account {
    font-size:0.875rem;
    text-align: center;
}
#wrap #login_frm .btn_search_group p.account .sign_up{
    font-weight:700;
}