/* 모바일 -> 태블릿 -> PC */
body {background-color: #FFF582 ;}
main {width:100%; min-width:320px; padding:0 15px; border: 1px solid#000;}
main h1 {font-size: 2rem; font-weight: 700;}
main p {font-size: 0.875rem; line-height: 1.5;}
/* 미디어쿼리 바깥 기본선택자는 모든 태그에 대한 선택자를 작성한다. */
@media screen and (min-width:834px) {/* 태블릿 */
    /* 미디어쿼리 안쪽 선택자는 기본선택자 중 달라지는 값을 가진 선택자만 작성한다. */
    body {background-color:#9CA9FF ;}
    main {padding: 0 30px;}
    main h1 {font-size: 2.25rem;}
    main p {font-size:1rem; }
}
@media screen and (min-width:1200px) {/* PC */
    body {background-color:#FFBFE8 ;}
    main {width: 1200px; margin: 0 auto; padding: 0;}
    main h1 {font-size: 2.625rem;}
}