#wrap {
    width: 320px;
    background-color: aqua;
    /* text-align: center; */
}
#wrap h1 {
    font-size:2rem ;
    font-weight: 700;
    padding: 10px 0 10px;
    text-align: center;
}
#wrap .sign_up {
    font-size: 0.875rem;
    margin: 0 0 28px;
    text-align: center;
}
#wrap p em {
    color: #6b5dfe;
}
#wrap .logo {
    text-align: center;
    background-color: coral;
    
}
#wrap  div.logo a.google {
    border-radius: 30px;
    background-color: #6b5dfe;
    text-align: center;
    padding: 10px;
}
#wrap  div.logo a.google img {
    
}
#wrap .logo a {
    color: #fff;
    font-size: 0.875rem;
    
}
#wrap .logo a img {
/*     border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 40px;
    padding:10px ; */
    border: 1px solid #ddd;
    border-radius: 30px;
    background-color: #fff;
    padding: 5px;
}
#wrap p:nth-child(4) {
    text-align: center;
    padding: 20px 0 20px;
}
#wrap dl {}
#wrap dl dt {
    padding-bottom:10px;
    font-weight: 500;
}
#wrap dl dt em {
    color: #6b5dfe;
    background-color: green;
    font-weight: 400;
}
#wrap p #login_btn.btn {
    border: 1px solid#aaa;
    border-radius: 30px;
    text-align: center;
    width: 320px;
    padding: 10px 0 10px;
    background-color:red;
}
#wrap p.login_btn {}
#wrap dl dd {}
#wrap dl dd input#id_pw {}
#wrap dl dd #user_email_id,
#wrap dl dd #user_pw {
    width: 320px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid#aaa;
}
