/* CSS 변수 */
:root {
    /* --대상-용도:반복속성값; */
    /* 글자크기 */
    --text-title70:4.375rem;
    --text-sub40:2.5rem;
    --text-sub31:1.938rem;
    --text-contents21:1.313rem;
    --text-menu18:1.125rem;
    --text-sub14:0.875rem;
    --text-sub12:0.75rem;
    --text-sub10:0.625rem;
    /* 행간 */
    --line-title:0.9;
    --line-contents:1.5;
    /* 자간 */
    --letter-minus2:-0.02rem;
    /* 굵기 */
    --weight-bold:700;
    --weight-semibold:600;
    /* 색상 */ 
    --color-white:#fff;
    --color-gray4:#444;
    --color-graya:#aaa;
    --color-grayd:#ddd;
    --color-grayf1:#f1f1f1;
    --color-grayfc:fcfcfc;
    --color-title_brown:#642c10;
    --color-title_indigo:#1d356d;
    --color-title_coral:#d43936;
    --color-red:#DA2128;
    --color-point:#36b4e5;
    --color-goal:#f3c300;
    /* 레이아웃 정보 */
    --width-desktop:1440px;
    --margin-desktop-l-r-80:80px;
}
body, html { scroll-behavior: smooth;}
/* header 포함 공통 */
#wrap {padding-top: 92px;}
#wrap header {
    /* width:100%; 블록의 기본값 생략가능 */
    padding: 0 80px;
    height: 92px;
    display: flex;
    flex-flow: row nowrap;/* 메인축(수평) 줄바꿈안함 */
    justify-content: space-between;/* 메인축 정렬(양쪽끝) */
    align-items: center;/* 교차축(수직) 가운데 */
    position: fixed;/* lnb 크기+위치 부모 기준 */
    z-index: 900; left: 0; top: 0;
    width: 100%;/* fixed or absolute 너비값을 재설정해야한다 */
    background: var(--color-white);
}
#wrap header h1 {}
#wrap header h1 a {}
#wrap header h1 a img {}
#wrap header nav {
}
#wrap header nav .gnb {
    display:flex; /* 자식 li 정렬 위한 값*/
    flex-flow: row nowrap;
    gap:70px;
} 
#wrap header nav .gnb > li {}
#wrap header nav .gnb > li > a {
    font-size:var(--text-menu18);
    line-height: 92px;
    display: block;
}
/* 메인메뉴에 마우스 올렸을 때 서브메뉴 보이기(공용) */
#wrap header nav .gnb > li:hover .lnb {display: flex;}
/* 서브메뉴 시작 */
#wrap header nav .gnb > li .lnb {
    background-color: rgba(255,255,255,0.7);
    /* 교차시키기(absolute) + 중첩순서(z-index) */
    position:absolute;
    z-index:90;
    width:100% ;/* absolute와 함께 w100%가 있으면 부모(pst)의 너비와 같다 뜻 */
    left: 0;/* absolute + 좌표가 있다면? 부모(pst) 기준 좌표 설정 뜻 */
    top: 92px;
    display: flex;
    flex-flow:row nowrap; justify-content:center ; 
    gap: 80px; padding:45px 0 ;
    display: none;
}
#wrap header nav .gnb > li .lnb > li .lnb_depth2 {
    display: flex;
    flex-flow:column nowrap;
    align-items:center ;
    gap: 15px;
}
#wrap header nav .gnb > li .lnb > li .lnb_depth2 > li {}
#wrap header nav .gnb > li .lnb > li .lnb_depth2 > li > a {}
#wrap header nav .gnb > li:nth-child(5) .lnb {}
#wrap header nav .gnb > li .lnb > li {
    display: flex;
    flex-flow:column nowrap ;
    align-items: center;
    gap: 15px;
}
#wrap header nav .gnb > li .lnb > li > a {
    font-size: var(--text-menu18);
    font-weight: var(--weight-semibold);
}
#wrap header .right_manu {
    display: flex; flex-flow: row nowrap;
    align-items: center;
}
#wrap header .right_manu > li {}
#wrap header .right_manu > li:first-child {
    display: flex;/* customer와 구분선의 부모 */
    flex-flow: row nowrap;
}
#wrap header .right_manu > li:first-child::after {
    content: ''; display: block;
    width: 1px; height: 13px; background: var(--color-graya);
    margin: 0 40px;
}
#wrap header .right_manu > li > a {
    font-size: var(--text-sub12);
    
}
#wrap header .right_manu > li:last-child {margin-left: 40px;}
#wrap header .right_manu > li > a img {}
/* 언어선택 시 활성화 디자인 */
#wrap header .right_manu li:nth-child(2){
    position: relative;
}
/* 두번째 li에 마우스 올렸을 때 자식 언어선택 보이기 */
#wrap header .right_manu li:nth-child(2):hover .lang_select {
    display: flex;
}
#wrap header .right_manu li:nth-child(2) .lang_select {
    /* 형제 또는 부모와 겹치는 디자인 요소는 -> absolute */
    position: absolute; z-index: 100;/* 0~999 */
    display:flex;
    flex-flow: column nowrap; gap: 10px;
    /* 초기숨기기 */
    display: none;
}
#wrap header .right_manu li:nth-child(2) .lang_select a {
    border-radius: 50%;
    background-color: #fff;
    width: 40px; line-height: 40px;
    border: 1px solid#aaa;
    font-size: var(--text-sub12);
    /* 초기 숨기기 */
}
#wrap header .right_manu li:nth-child(2).lang_select .kr {}
#wrap header .right_manu li:nth-child(2).lang_select .en {}
#wrap header .right_manu li:nth-child(2).lang_select .cn{}
/* ===================================메인 */
#wrap main {}
/* ===================================푸터 */
#wrap footer {padding: 50px 80px;}
#wrap footer *:nth-child(odd) {/* background-color: lime */}
#wrap footer *:nth-child(even) {/* background-color: aqua; */}
#wrap footer .ft_top {
    display: flex; flex-flow: row nowrap; 
    justify-content: space-between; align-items: center;
}
#wrap footer .ft_top .menu {
    display: flex; flex-flow: row nowrap;
    align-items: center; gap: 20px;
}
#wrap footer .ft_top .menu a {
    font-size: var(--text-sub14);
}
#wrap footer .ft_top .menu a:first-child {color: var(--color-point); font-size: 1rem;}
#wrap footer .ft_top .menu a:nth-child(2) {color: var(--color-red); font-size: 1rem;}
#wrap footer .ft_top .menu a img {}
#wrap footer .ft_top .site_all {
    display: flex;
}
#wrap footer .ft_top .site_all li {position: relative;}
#wrap footer .ft_top .site_all li p {
/*     ;
    padding: 10px; font-size: var(--text-sub14); */
    background-image: url(../images/arrow_down.png);
    background-repeat: no-repeat;
    background-position: 90% center;
    background-color: var(--color-white);
    height: 40px; border: 1px solid var(--color-graya);
    line-height: 40px; padding-left: 10px; 
}
#wrap footer .ft_top .site_all li:nth-child(1) p {width: 220px;}
#wrap footer .ft_top .site_all li:nth-child(2) p {width: 140px;}
#wrap footer .ft_top .site_all li .family_list {
    background-color: var(--color-white); border: 1px solid var(--color-graya);
    position: absolute;/* absolute의 부모 relative의 너비만큼 차지하라 */
    width: 100%; bottom: 40px;
    height: 250px; overflow: auto;
    display: none;
}
#wrap footer .ft_top .site_all li:nth-child(1):hover .family_list {display: block;}
#wrap footer .ft_top .site_all li .family_list li {
    padding: 10px;
}
#wrap footer .ft_top .site_all li .family_list li a {
    
}
#wrap footer .ft_top li .sitemap_wrap {display: none;}
#wrap footer .ft_top li .sitemap_wrap .sitemap_contents {}
#wrap footer .ft_top li .sitemap_wrap .sitemap_contents h2 {}
#wrap footer .ft_top li .sitemap_wrap .sitemap_contents .close {}
#wrap footer .ft_btn {}
#wrap footer .ft_btn address {padding: 25px 0; line-height:var(--line-contents);}
#wrap footer .ft_btn p {}