/* CSS 변수 */
:root {
    /* --대상-용도:반복속성값; */
    /* 글자크기 */
    --text-title70:4.375rem;
    --text-contents21:1.313rem;
    --text-menu18:1.125rem;
    --text-sub12:0.75rem;
    /* 행간 */
    --line-title:0.9;
    --line-contents:1.5;
    /* 자간 */
    --letter-minus2:-0.02rem;
    /* 굵기 */
    --weight-bold:700;
    /* 색상 */
    --color-white:#fff;
    --color-gray4:#444;
    --color-graya:#aaa;
    --color-title_brown:#642c10;
    --color-title_indigo:#1d356d;
    --color-title_coral:#d43936;
    /* 레이아웃 정보 */
    --width-desktop:1440px;
    --margin-desktop-l-r-80:80px;
}
/* header 포함 공통 */
#wrap {}
#wrap header {
    background-color: coral;
    /* width:100%; 블록의 기본값 생략가능 */
    padding: 0 80px;
    height: 92px;
    display: flex;
    flex-flow: row nowrap;/* 메인축(수평) 줄바꿈안함 */
    justify-content: space-between;/* 메인축 정렬(양쪽끝) */
    align-items: center;/* 교차축(수직) 가운데 */
}
#wrap header h1 {}
#wrap header h1 a {}
#wrap header h1 a img {}
#wrap header nav {
    background-color: aqua;
}
#wrap header nav .gnb {
    display:flex; /* 자식 li 정렬 위한 값*/
    flex-flow: row nowrap;
    gap:70px;
} 
#wrap header nav .gnb > li {}
#wrap header nav .gnb > li > a {
    font-size:var(--text-menu18);
    background-color:orange;
    line-height: 92px;
    display: block;
}
#wrap header .right_manu {
    background-color: yellow;
    display: flex; flex-flow: row nowrap;
    align-items: center;
}
#wrap header .right_manu > li {}
#wrap header .right_manu > li:first-child {
    display: flex;/* customer와 구분선의 부모 */
    flex-flow: row nowrap;
}
#wrap header .right_manu > li:first-child::after {
    content: ''; display: block;
    width: 1px; height: 13px; background: var(--color-graya);
    margin: 0 40px;
}
#wrap header .right_manu > li > a {
    font-size: var(--text-sub12);
}
#wrap header .right_manu > li > a img {}
#wrap main